body									{ background-color: white; color: #283c7c; font-family:Lato; font-size:14px; font-weight:300; }

h1, h2									{ font-family: Arial, Helvetica, sans-serif; font-weight:400; }
h3										{ font-family:"arial"; padding:0 10%; line-height:1.6; }
nav										{ font-weight:400; }

p.lead									{ font-size: 22px; font-weight:300; padding-top: 10px;}
h1 										{ font-size: 34px; }
h2 										{ font-size: 36px; }
h3 										{ font-size: 16px; }
h4 										{ font-size: 17px; }

ul										{ padding-left:0px; list-style-type: none; }

a:active, a:focus 						{ outline: none; ie-dummy: expression(this.hideFocus=true); }
a										{ color:#939192; outline:none; }

h1+h3									{ margin-top:0; }

#home, #textiel, #fotoboek, #contact	{ background: #4c4c4c; color: white;}
#muurbestickering, #printenop			{ background-color: #727770; color: white; }

h1, 
.nav a									{ color: #283c7c; }
.nav>li>a:hover							{ background: none; }
.nav>li>a:nth-child(1)					{ padding-left: 0;}

section									{ box-shadow:0 0 2px rgba(0,0,0,0.5); overflow-x:hidden; position:relative; }
section > div							{ position:relative; padding:110px 0; }
section#home .container					{ padding-top:225px; }

#menu									{ width:100%; z-index:9999; }
#menu.affix								{ position:static; background-color: white;}

.affix-top .navbar						{ background:none; }

.navbar-hs								{ margin:0; padding:15px 0; font-size:16px; }

h1+h3, h2, .lead						{ margin-bottom: 10px; }

h2 small								{ color: #d88227; }
h2 span									{ white-space: nowrap; }
h2 span:before,
h2 span:after							{ background: white; display: inline-block; width: 70px; height: 1px; content: " "; bottom:50%; margin:0 15px; margin-bottom: 12px; }

h2,
h2 + .lead,
#port h3								{ text-align: center; }

.btn-toggle,
#sidebar-wrapper 						{ display: none; }

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { background-color: transparent; }


@media (max-width: 767px) {

	section#home							{ margin-top:-64px; }

	#sidebar-wrapper 						{ color:white; margin-right: -180px; left: 0; top:-2px; bottom:-2px; width:150px; box-shadow:inset 0 0 2px black; background: #939192; 
												position: fixed; height: 102%; overflow-y: auto; z-index: 10000; display: none; }
	#sidebar-wrapper.active 				{ right: 180px; width: 180px; display: block; }
	
	.page-wrapper.active					{ right:-180px; left:180px; position:relative; }
	
	.page-wrapper,
	#sidebar-wrapper {
	  -webkit-transition: all 0.4s ease 0s;
	  -moz-transition: all 0.4s ease 0s;
	  -ms-transition: all 0.4s ease 0s;
	  -o-transition: all 0.4s ease 0s;
	  transition: all 0.4s ease 0s;
	}
	#sidebar-wrapper a						{ color: white; }

	.sidebar-nav 							{ width:100%; list-style: none; margin: 15px 0 0 0; padding: 0; }
	.sidebar-nav li 						{ }
	.sidebar-nav li a 						{ border-bottom:1px solid rgba(0,0,0,0.1); border-top:1px solid rgba(255,255,255,0.1); padding:8px 15px; display:block; }
	.sidebar-nav li a:nth-cild(1),
	.sidebar-nav li a:nth-cild(2)			{ margin: 2px 2px; }
	.sidebar-nav li a.btn					{ display:inline-block; padding-right:10px; }
	.sidebar-nav li.active a				{ background:rgba(204,204,204,0.1); }
	.sidebar-nav li:first-child a			{ border-top:none; }
	.sidebar-nav li:last-child a			{ border-bottom:none; }
	
	.btn-toggle 							{ text-align:center; top:15px; left:15px; padding:6px 6px; width:32px; border-radius:20px; position: fixed; z-index: 10001; display: none; }
	
	span.icon-bar							{ border-radius:1px; cursor:pointer; display:block; width:100%; height:2px; background: white; margin-top: 3px; }
	span.icon-bar:last-child,
	span.icon-bar:first-child 				{ width:80%; margin:3px auto; }
	span.icon-bar:last-child 				{ margin-bottom: 3px; }
}

@media (max-width: 767px) {
 	/* mobile menu */
	
	h2 + .lead								{ text-align:left; }
	
	h2 span:before,
	h2 span:after							{ margin: 0; margin-bottom: 5px; }
	h2										{ font-size: 18px; width:100%; float:right; clear:both; display:block; text-align:right; font-weight:100; font-style:italic; margin-left:100%; margin-right: -65px; }
	
	h2 span:before							{ width:100%; margin-right: 15px; margin-left:-100%; }
	h2 span:after							{ margin-left: 15px; }

	section	.container						{ padding-top:30px; padding-bottom:30px; }
	section#home .container 				{ padding-top: 85px; }
	
	.btn									{ background-color: #939192; }	
	.sidebar-nav .btn						{ background-color: #939192; }
	
	.brand img								{ margin:15px; }
	
	.navbar-hs								{ padding:0; }
	
	.navbar-nav								{ margin-bottom: 0; background-color: #283c7c; }
	.navbar-nav a							{ color: white; }
	.navbar-nav a:hover						{ color: #283c7c; }

	.btn-toggle 							{ display:block; }
	
	.col-xs-2								{ padding-left: 0; }
	#opdrachten img.side-img				{ max-width: 150%; }

}