body									{ background-color: white; color: #283c7c; font-family:Lato; font-size:14px; font-weight:300; }

h1, h2									{ font-family:Merriweather; font-weight:400; }
h3										{ font-family:"Architects Daughter"; padding:0 10%; line-height:1.6; }
nav										{ font-weight:400; }

p.lead									{ font-size: 22px; font-weight:300; padding-top: 10px;}
h1 										{ font-size: 34px; }
h2 										{ font-size: 36px; }
h3 										{ font-size: 16px; }
h4 										{ font-size: 17px; }

ul										{ padding-left:0px; list-style-type: none; }

a:active, a:focus 						{ outline: none; ie-dummy: expression(this.hideFocus=true); }
a										{ color:#283c7c; outline:none; }

h1+h3									{ margin-top:0; }

#home									{ background: white; }
#port									{ background-color: #283c7c; color: white; }

h1, 
.nav a									{ color: #283c7c; }
.nav>li>a:hover							{ background: none; }
.nav>li>a:nth-child(1)					{ padding-left: 0;}

section									{ box-shadow:0 0 2px rgba(0,0,0,0.5); overflow-x:hidden; position:relative; }
section > div							{ position:relative; padding:110px 0; }
section#home .container					{ padding-top:225px; }

#home									{ color: #283c7c; }
#home h3 								{ color: #00aeef; }

#menu									{ width:100%; z-index:9999; }
#menu.affix								{ position:static; background-color: white;}

.affix-top .navbar						{ background:none; }

.navbar-hs								{ margin:0; padding:15px 0; font-size:16px; }

h1+h3, h2, .lead						{ margin-bottom: 10px; }

h2 small								{ color: #d88227; }
h2 span									{ white-space: nowrap; }
h2 span:before,
h2 span:after							{ background: white; display: inline-block; width: 70px; height: 1px; content: " "; bottom:50%; margin:0 15px; margin-bottom: 12px; }

h2,
h2 + .lead,
#port h3								{ text-align: center; }

.btn-toggle,
#sidebar-wrapper 						{ display: none; }

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { background-color: transparent; }

#gallery 								{ list-style-type:none; padding:0; }
 
#gallery .grid-unit 					{ width:33%; display:inline-block; }

#gallery .grid-unit a.thumbnail 		{ border:0; position:relative; margin:0; color:white; margin: 0 0 0 5px; }

#gallery .grid-unit a.thumbnail:hover 	{ text-decoration:none; border: 0; }

#gallery .grid-unit a.thumbnail:hover .mask { border: 0;
-webkit-transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-o-transition: opacity .25s ease-in-out;
transition: opacity .25s ease-in-out;
opacity: 1;
}

#gallery .grid-unit img 				{ width:100%; height:auto; }

#gallery .grid-unit .mask 				{ display: block; height: 100%; padding: 0; margin: auto; opacity: 0; position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; background-color:#d88227;
-webkit-transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-o-transition: opacity .25s ease-in-out;
transition: opacity .25s ease-in-out;
}

#gallery .grid-unit .mask .meta 		{ display: table; height: 100%; padding: 0; margin: auto; position: absolute; left: 0; top: 0; right: 0; bottom: 0; text-align: center; vertical-align: middle; width: 100%; }

#gallery .grid-unit .mask .meta .words 	{ display: table-cell; text-align: center; vertical-align: middle; padding: .5em; }

#gallery .grid-unit .mask .meta .title 	{ display: block; font-size: 1.3125em; text-decoration: none; }

#gallery .grid-unit .mask .meta .role 	{ display: block; font-size: 1em; text-decoration: none; }

#gallery .mix 							{ opacity: 0; display: none; }

#filter-buttons 						{ padding: 0; text-align: center; list-style: none; margin-bottom: 30px; }

#filter-buttons li 						{ margin: 5px 10px; display: inline-block; border: 1px solid white; color: white; padding: 5px 10px; cursor:pointer; }

#filter-buttons li.active 				{ border: 1px solid #d88227; }

.thumbnail 								{ border-radius: 0; padding: 0px; background: transparent;}

#opdrachten .display-img				{ max-width: 100%; }
#opdrachten img.side-img				{ max-width: 100%; margin-bottom: 5px; }
#opdrachten img.side-img.active			{ border: 1px solid #d88227; }

@media (max-width: 767px) {

	section#home							{ margin-top:-64px; }

	#sidebar-wrapper 						{ color:white; margin-right: -180px; right: 0; top:-2px; bottom:-2px; width:150px; box-shadow:inset 0 0 2px black; background: #283c7c; 
												position: fixed; height: 102%; overflow-y: auto; z-index: 10000; display: none; }
	#sidebar-wrapper.active 				{ right: 180px; width: 180px; }
	
	.page-wrapper.active					{ left:-180px; right:180px; position:relative; }
	
	.page-wrapper,
	#sidebar-wrapper {
	  -webkit-transition: all 0.4s ease 0s;
	  -moz-transition: all 0.4s ease 0s;
	  -ms-transition: all 0.4s ease 0s;
	  -o-transition: all 0.4s ease 0s;
	  transition: all 0.4s ease 0s;
	}
	#sidebar-wrapper a						{ color: white; }

	.sidebar-nav 							{ width:100%; list-style: none; margin: 15px 0 0 0; padding: 0; }
	.sidebar-nav li 						{ }
	.sidebar-nav li a 						{ border-bottom:1px solid rgba(0,0,0,0.1); border-top:1px solid rgba(255,255,255,0.1); padding:8px 15px; display:block; }
	.sidebar-nav li a.btn					{ display:inline-block; padding-right:10px; }
	.sidebar-nav li.active a				{ background:rgba(204,204,204,0.1); }
	.sidebar-nav li:first-child a			{ border-top:none; }
	.sidebar-nav li:last-child a			{ border-bottom:none; }
	
	.btn-toggle 							{ text-align:center; top:15px; right:15px; padding:6px 6px; width:32px; border-radius:20px; position: fixed; z-index: 10001; display: none; }
	
	span.icon-bar							{ border-radius:1px; cursor:pointer; display:block; width:100%; height:2px; background: white; margin-top: 3px; }
	span.icon-bar:last-child,
	span.icon-bar:first-child 				{ width:80%; margin:3px auto; }
	span.icon-bar:last-child 				{ margin-bottom: 3px; }
}

@media (min-width: 768px) {

	.sm-align-center						{ text-align: center; }
	.sm-align-right							{ text-align: right; }
	
	.sm-align-right > div					{ padding-right: 15px; }
	.sm-align-right + div > div				{ padding-left: 15px; }
	
	.sm-align-right .fa						{ float:right; padding:5px 0 0 8px; }
	
	#menu.affix,
	#menu.affix-top							{ position:fixed; }
	#menu.affix								{ box-shadow:0 0 5px rgba(0,0,0,0.5); top:0;  }

	.navbar-hs .navbar-header				{ margin:25px 0; }
	.navbar-hs nav							{ margin:25px 0 0 0; }
	
	.navbar-hs .navbar-header				{ width:100%; float:left; }
	.navbar-hs .navbar-header img			{ max-width:100%; }
	.navbar-hs nav							{ width:100%; text-align:center; float:left; margin:0 0 0 auto; display:inline-block; }
	.navbar-hs nav > ul						{ width:100%; padding-top: 18px; }
	.navbar-hs nav > ul > li				{ display:inline-block; }

	.affix .navbar-hs						{  }
	.affix .navbar-hs .navbar-header		{ width:210px; margin:4px 0; text-align:left; }
	.affix .navbar-hs nav					{ width:70%; margin:0; text-align:right; }
	.affix 
	
	#menu,
	.navbar-hs .navbar-header,
	.navbar-hs,
	.navbar-hs .brand	{
		-webkit-transition: margin 0.2s ease 0s;
		-moz-transition: margin 0.2s ease 0s;
		transition: margin 0.2s ease 0s;
	}
		
}

@media (min-width: 768px) and (max-width:991px) {
	
	.affix .navbar-hs .navbar-nav > li > a	{ font-size: 15px; padding-top: 33px; padding-left: 10px; padding-right: 10px; }
}

@media (max-width: 767px) {
 	/* mobile menu */
	
	h2 + .lead								{ text-align:left; }
	
	h2 span:before,
	h2 span:after							{ margin: 0; margin-bottom: 5px; }
	h2										{ font-size: 18px; width:100%; float:right; clear:both; display:block; text-align:right; font-weight:100; font-style:italic; margin-left:100%; margin-right: -65px; }
	
	h2 span:before							{ width:100%; margin-right: 15px; margin-left:-100%; }
	h2 span:after							{ margin-left: 15px; }

	section	.container						{ padding-top:30px; padding-bottom:30px; }
	section#home							{ background:none; box-shadow:none; }
	section#home .container 				{ padding-top: 85px; }
	
	.btn									{ background-color: #283c7c; }
	
	.brand img								{ margin:15px; }
	
	.navbar-hs								{ padding:0; }
	
	.navbar-nav								{ margin-bottom: 0; background-color: #283c7c; }
	.navbar-nav a							{ color: white; }
	.navbar-nav a:hover						{ color: #283c7c; }

	#sidebar-wrapper,
	.btn-toggle 							{ display:block; }
	
	.col-xs-2								{ padding-left: 0; }
	#opdrachten img.side-img				{ max-width: 150%; }

}